body {

    background: #B9F3FC;
    font-family: 'Nunito', sans-serif;
}

p {
    color: #023e8a;
}

h2 {
    color: #023e8a;
    font-size: 1.5rem;
    background: none;
    border: 2px solid;
    padding: 0.1em ;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
    border-radius: 20px;

}

h2:hover {
    border-color: white;
    color: rgb(221, 45, 45) !important;
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.07em);
    cursor: pointer;
    text-decoration: none;
}

h3  {
    color: #023e8a;
    text-align: center;
}

p   {
    color: #023e8a; 
}

ul {
    color: #023e8a;
}

a {
    color: #023e8a;
}

.lead {
    font-weight: 400;
    font-size: 1.125rem;

}

.navbar.scrolled {
    background: #fff;
    transition: 250ms;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#backtotop {
    text-align: center;
    border-radius: 2px;
}


#link:hover {
    border-color: white;
    color: rgb(221, 45, 45) !important;
    transform: translateY(-0.25em);
    cursor: pointer;
    text-decoration: none;
}

#mainNavbar .nav-link {
    color: #023e8a;

}

#mainNavbar .nav-link:hover {
    color: rgb(255, 24, 1);

}

#mainNavbar .navbar-brand {
    color: #023e8a;
    font-size: 1.5rem;
    font-weight: 400;
}

#mainNavbar .navbar-brand:hover {
    color: rgb(255, 24, 1);
    font-size: 1.5rem;
    font-weight: 100;
}

#headingGroup {
    color: #023e8a;
}

#headingGroup #slash1 {
    color: red;
}

#headingGroup #slash2 {
    color: red;
}

#slash2ndLine {
    color: green;
}

#headingGroup h1 {
    font-size: 3rem;
}


@media (max-width: 1200px) {
    #headingGroup h1 {
        font-size: 2rem;
    }
}